<!DOCTYPE html> 
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <head> 
        <title>Lottery</title> 
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <form class="lottery_form" name="lottery-form" action="#">
            <fieldset>
                <legend>Enter Lottery Number</legend>

                <div class = "flex-container">
                    <!-- https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element -->
                    <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" autocomplete="one-time-code" id="num-1" required>

                    <!-- Autocomplete not to put on other input -->
                    <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" id="num-2" required>
                    <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" id="num-3" required>
                    <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" id="num-4" required>
                    <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" id="num-5" required>
                    <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" id="num-6" required>
                </div>
                <input type="submit" value="Submit">
                    
            </fieldset>
        </form>
    </body>
</html>